<div class="documentation-header">
    <img alt="Lesli Admin logo" src="/images/engines/admin/admin-logo.svg" />
    <h1>
        Administration area
    </h1>
</div>

<div class="documentation-statics">
    <a target="blank" href="https://rubygems.org/gems/lesli_admin">
        <img src="https://badge.fury.io/rb/lesli_admin.svg" alt="Gem Version" height="24">
    </a>
</div>
