
<header align="center" class="lesli-markdown-header">
    <img width="75" class="engine-logo" alt="LesliBabel logo" src="/images/engines/admin/admin-logo.svg" />
    <h1>
        Administration area for the<br />
        <span class="lesli-title-colored">Lesli Framework.</span>
    </h1>
</header>

