<script setup>
    import LesliBrowser from "../../.vitepress/components/lesli-browser.vue"
</script>

<header align="center" class="lesli-page-header">
    <img width="75" class="engine-logo" alt="LesliBabel logo" src="../app/assets/images/lesli_admin/admin-logo.svg" />
    <h1>
        Administration area for the<br />
        <span class="lesli-title-colored">Lesli Framework.</span>
    </h1>
</header>

