<p align="center">
	<img width="75" alt="LesliSupport logo" src="../app/assets/images/lesli_support/support-logo.svg" />
    <h3 align="center">Support Ticket System for the Lesli Framework</h3>
</p>

<hr/>
<p align="center">
    <a target="blank" href="https://rubygems.org/gems/lesli_support">
        <img height="22" alt="Gem Version" src="https://badge.fury.io/rb/lesli_support.svg" />
    </a>
</p>
<hr/>
