<section class="lesli-component-demo hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="component-header">
                <h2>Try the <b>Live Demo</b></h2>
                <p class="mb-4">
                    We have available a demo app with all the modules installed <br />
                    and all the features enabled, so you can see what can be built with Lesli.
                </p>
                <div class="buttons is-justify-content-center">
                    <% link_to("https://github.com/LesliTech/Lesli", :class=>"button is-primary is-outlined mr-1", :target=>"blank") do %>
                        <span class="icon-text">
                            <span class="icon">
                                <i class="ri-external-link-line"></i>
                            </span>
                            <span class="pt-1">Live demo</span>
                        </span>
                    <% end %>
                    <% link_to("https://github.com/LesliTech/Lesli", :class=>"button is-dark is-outlined mr-1", :target=>"blank") do %>
                        <span class="icon-text">
                            <span class="icon">
                                <i class="ri-github-line"></i>
                            </span>
                            <span class="pt-1">Open source</span>
                        </span>
                    <% end %>
                </div>
                <%= partial "components/browser", locals: { 
                    img: "engines/admin/screenshot.png", 
                    alt:"Lesli SaaS screenshot",
                    max_width: "1000px" 
                } %>
            </div>
        </div>
    </div>
</section>
