<%

links = [{
    href: "/engines/lesli/about/",
    icon: "ri-heart-line",
    text: "About"
}, {
    href: "/engines/lesli/getting-started/",
    icon: "ri-send-plane-line",
    text: "Getting started"
}, {
    href: "/engines/lesli/contributing/",
    icon: "ri-git-pull-request-line",
    text: "Contributing"
}, {
    href: "/engines/lesli/about/",
    icon: "ri-book-2-line",
    text: "Documentation"
}]
%>
<section class="lesli-component-links lesli-component-boxes">
    <div class="container">
        <div class="columns">
            <% links.each do |link| %>
                <div class="column">
                    <a href="<%= link[:href] %>">
                        <i class="<%= link[:icon] %>"></i>
                        <%= link[:text] %>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</section>
