
<% img = locals[:img] || nil %>
<% alt = locals[:alt] || "" %>
<% max_width = locals[:max_width] || "1600px" %>

<div class="browser" style="max-width: <%= max_width %>;">
    <div class="toolbar">
        <div class="controls">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="arrows">
            <span class="icon">
                <i class="ri-arrow-left-s-line"></i>
            </span>
            <span class="icon">
                <i class="ri-arrow-right-s-line"></i>
            </span>
        </div>
        <div class="address">
            <p>
                <span class="icon is-small">
                    <i class="ri-lock-line"></i>
                </span>
                <span>https://</span>www.lesli.dev
            </p>
        </div>
        <div class="settings">
            <span class="icon">
                <i class="ri-equalizer-fill"></i>
            </span>
        </div>
    </div>
    <%= image_tag(img, :alt => alt) if img %>
</div>
