
@import "lesli-css";

$hint-of-red: #f8f5f5;


// · 
section {
    .component-header {
        text-align: center;
        padding-bottom: 6rem;

        h2 {
            font-size: 3rem;
            margin-bottom: 1.5rem;
            color: lesli-css-color(black);
        }

        p {
            font-size: 2rem;
            max-width: 1100px;
            margin: 0 auto;
            font-size: 2.2rem;
            text-align: center;
            color: lesli-css-color(silver, 700);
        }
    }
}


// · 
@include lesli-css-breakpoint-only-mobile() {
    section {
        .component-header {
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
}
