@import "../../lib/scss/website.scss";

section.lesli-404 {
    @include lesli-css-flex-center('vertical');
    text-align: center;
    min-height: calc(100vh - 160px);

    img {
        width:150px;
        margin: 0 auto 0rem;
    }

    h3 {
        margin: 1.6rem 0 1.2rem;
        font-size: 5rem;
        color: lesli-css-color(slate);
    }

    p {
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
        color: lesli-css-color(slate, 700);
    }

    a {
        color: lesli-css-color(lesli, primary);
        border: 1px solid lesli-css-color(lesli, primary);
        transition: all linear .3s;
        border-radius: 1.1rem;
        font-weight: bold;
        font-size: .9rem;
        padding: .4rem 1.2rem;
        text-decoration: none;
    }
}
