
@import "../../lib/scss/website.scss";

header {

    .brand {
        margin: 6rem auto 5rem;

        h1 {
            max-width: 900px;
        }

        p {
            font-weight: 300;
            color: #1f2937; // dark neutral 
        }

        .keys {
            font-size: 1.4rem;
            font-weight: 400;
            color: lesli-css-color(black, 100);
        }
    }

    .buttons {
        margin: 3rem auto;
        a.button-primary,
        a.button-primary-ghost {
            padding: 1.1rem;
        }
    }

    .footnote {
        margin: 6rem auto;
    }
}


@include lesli-css-breakpoint-mobile() {
    header {
        p {
            display: none;
        }
    }
}
