
@import "../../lib/scss/website";
@import "../../lib/scss/components/lesli-description";
@import "../../lib/scss/components/lesli-corefeatures";
@import "../../lib/scss/components/lesli-engines";
@import "../../lib/scss/components/lesli-demo";
@import "../../lib/scss/components/lesli-development";

.buttons {
    margin: 3rem auto;
    text-align: center;
    a.button-primary svg {
        margin-left: 8px;
    }
    a.button-primary-ghost svg {
        margin-right: 8px;
    }
    a.button-primary,
    a.button-primary-ghost {
        padding: 1.1rem;
    }
}

header {
    height: 100vh;
    min-height: 800px;
    padding-bottom: 50px;

    .brand {
        margin: 6rem auto 5rem;

        h1 {
            max-width: 1105px;
        }

        p {
            font-weight: 300;
            color: #1f2937; // dark neutral 
            max-width: 922px;
            margin: 0 auto;
        }

        .keys {
            font-size: 1.4rem;
            font-weight: 400;
            color: lesli-css-color(black, 100);
        }
    }

    

    .footnote {
        margin: 6rem auto;
    }
}


@include lesli-css-breakpoint-mobile() {
    header {
        p {
            display: none;
        }

        .buttons a {
            display: block;
        }
    }
}

