
@import "../../lib/scss/website.scss";


header {

    .brand {
        margin: 6rem auto 5rem;
    }

    .buttons {
        margin: 3rem auto;
    }

    .footnote {
        margin: 6rem auto;
    }
}


@include lesli-css-breakpoint-mobile() {
    header {
        p {
            display: none;
        }
    }
}
