
        <section>
            <div class="columns mt-0">
                <div class="navigation column is-3">
                    <figure>
                        <%= inline_svg("brand/lesli-name.svg") %>
                    </figure>
                    <%= partial("documentation/navigation") %>
                </div>
                <div class="documentation column">
                    <%= partial("partials/navigation") %>
                    <div class="lesli-documentation section pb-0">
                        <div class="container">
                            <h1>Lesli Quickstart</h1>

<h2>Editor</h2>

<p>We recommend using <a href="https://code.visualstudio.com/">Visual Studio Code</a>. It is a free and open source editor that is available for all platforms. You can add some extensions to it to make it more useful for you.</p>

<h2>Ruby</h2>

<p>Lesli uses <a href="https://www.ruby-lang.org/">Ruby</a> as its primary programming language. The backend is written in Ruby with <a href="https://rubyonrails.org/">Rails</a> as its framework. <strong>For Lesli we use the ruby version 2.7.2.</strong><br>
For more information about how to use ruby with the Lesli standars you can go to this <a href="https://github.com/leitfaden/cloud_development/tree/master/documentation/rails">link</a>.</p>

<h2>Installation</h2>

<p>Ruby is available for all platforms. If you need more details for the installation you can following the instructions <a href="https://www.ruby-lang.org/en/documentation/quickstart/">here</a>.  </p>

<p>For install Ruby, you have a couple of options. You can install <a href="https://www.ruby-lang.org/en/">Ruby from the official website</a>. If you choose to install it from there, you will have only one version of ruby and this can be a problem if you want to use multiple versions of ruby in different projects.  </p>

<h2>Version Managers (recommended)</h2>

<p>If you choose to install it with a version manager, you will have multiple versions of ruby and this is a good option if you want to use multiple versions of ruby in different projects.<br>
In the Ruby community, there are two popular managers responsible for installing and maintaining multiple Ruby versions <a href="https://rvm.io/">rvm</a> (recommended) and <a href="https://rbenv.io/">rbenv</a>.  </p>

<h4>RVM pros over Rbenv:</h4>

<ul>
<li>RVM is easier to install than Rbenv.</li>
<li>RVM has more features than Rbenv.</li>
<li>RVM includes a built-in Ruby installation mechanism while Rbenv does not.</li>
</ul>

<h4>Rbenv pros over RVM:</h4>

<ul>
<li>Rbenv is lightweight, RVM is heavier.</li>
<li>Rbenv is more developer-friendly than RVM.</li>
<li>Rbenv has a dedicated plugin for Ruby installation mechanism, RVM has it built-in.</li>
</ul>

<p>For more information about this you can go to this <a href="https://hixonrails.com/ruby-on-rails-tutorials/ruby-environment-management/">link</a>.</p>

<p>After you install ruby 2.7.2 you need to install rails and bundler. You can use the following commands in your terminal:</p>

<h3>Install rails and bundler</h3>
<pre class="shell"><code>gem <span style="color: #953800">install </span>rails bundler
</code></pre>
<h2>Node.js</h2>

<p>Node.js is a JavaScript runtime built on Chrome&#39;s V8 JavaScript engine. It is used for running JavaScript in the server side. Lesli uses node for run webpack, vue and other javascript libraries for the frontend. <strong>For Lesli you can use the LTS version of Node.</strong></p>

<h3>Installation</h3>

<p>Node.js is available for all platforms. If you need more details for the installation of specific version you can following the instructions <a href="https://nodejs.org/en/">here</a>.</p>

<h4>Version Manager (recommended)</h4>

<p>Node Version Manager (nvm) is a tool that allows the user to switch between different versions of Node. js, helping reduce overhead when reproducing production bugs in development environments. <a href="https://github.com/nvm-sh/nvm">The default installation</a> is only supported on macOS and Linux environments. For windows users, you can follow the instructions <a href="https://content.breatheco.de/es/how-to/nvm-install-windows">here</a>. </p>

<p>For more information about nvm, you can go to this <a href="https://github.com/nvm-sh/nvm">link</a>. </p>

<p>Then you need to install yarn. You can use the following command in your terminal: </p>
<pre class="shell"><code>npm <span style="color: #953800">install</span> <span style="color: #116329">-g</span> yarn
</code></pre>
<h2>Postgresql</h2>

<p>Lesli uses <a href="https://www.postgresql.org/">Postgresql</a> as its database engine. It is a free and open source database that is available for all platforms. You can install postgresql on your computer and then you can use it to create a database for Lesli. The following links provide more information about the installation of postgresql.</p>

<ul>
<li><a href="https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql/">Install PostgreSQL on Windows</a></li>
<li><a href="https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql-macos/">Install PostgreSQL on macOS</a></li>
<li><a href="https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql-linux/">Install PostgreSQL on Linux</a></li>
</ul>

<h3>Problems with PostgreSQL locally setup</h3>

<p>If you have some problems with postgresql locally setup, you can install postgresql on your computer with docker.</p>

<p>First you need to install docker. You can follow the instructions <a href="https://www.docker.com/community-edition/">here</a> and docker compose with this instructions <a href="https://docs.docker.com/compose/install/">here</a>.</p>

<p>Then you can install postgresql with an image from docker. You can find all the images that you will need in <a href="https://hub.docker.com/r/postgres/">docker hub</a>. And if you need a software to view and manage the database you can use pgadmin4, datagrip or dbaver. </p>

<p>In this example we will use pgadmin4.<br>
You have to create a docker-compose.yml file on the root of Lesli and add the following lines:</p>
<pre class="yaml"><code><span style="color: #116329">version</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">3.8"</span>
<span style="color: #116329">services</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
    <span style="color: #116329">pgadmin4</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">image</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">dpage/pgadmin4</span>
        <span style="color: #116329">environment</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #24292f;background-color: #f6f8fa">-</span> <span style="color: #0a3069">PGADMIN_DEFAULT_EMAIL=root@admin.com</span>
        <span style="color: #24292f;background-color: #f6f8fa">-</span> <span style="color: #0a3069">PGADMIN_DEFAULT_PASSWORD=root</span>
        <span style="color: #116329">ports</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
            <span style="color: #24292f;background-color: #f6f8fa">-</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">5050:80"</span>
    <span style="color: #116329">postgres</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">image</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">postgres:13</span>
        <span style="color: #116329">ports</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
            <span style="color: #24292f;background-color: #f6f8fa">-</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">5432:5432"</span>
        <span style="color: #116329">volumes</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
            <span style="color: #24292f;background-color: #f6f8fa">-</span> <span style="color: #0a3069">./postgres_data:/var/lib/postgresql/data</span>
        <span style="color: #116329">environment</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
            <span style="color: #116329">POSTGRES_USER</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">admin"</span>
            <span style="color: #116329">POSTGRES_PASSWORD</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">my_password"</span>
            <span style="color: #116329">POSTGRES_DB</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">lesli_development"</span>
</code></pre>
<p>You can use the credentials you have created to login to pgadmin4 and database. Then you can manage your containers with the following commands (maybe you need to run this commands with sudo, but it depends on your system):</p>
<pre class="shell"><code><span style="color: #6e7781"># Start the containers (this start your database)</span>
<span style="color: #953800">sudo </span>docker-compose up <span style="color: #116329">-d</span>

<span style="color: #6e7781"># Stop the containers (this stop your database)</span>
<span style="color: #953800">sudo </span>docker-compose down

<span style="color: #6e7781"># If you want to view the logs of the containers</span>
<span style="color: #953800">sudo </span>docker-compose logs postgres

<span style="color: #6e7781"># You can pass the -f flag to follow the logs of the containers</span>
<span style="color: #953800">sudo </span>docker-compose logs <span style="color: #116329">-f</span> postgres

<span style="color: #6e7781"># If you want to view the containers that are running</span>
<span style="color: #953800">sudo </span>docker-compose ps
</code></pre>
<p>For more information about docker compose file, you can go to this <a href="https://docs.docker.com/compose/overview/">link</a>.</p>

<h2>Credentials for rails</h2>

<p>For create credentials for rails you can use the <a href="https://github.com/leitfaden/cloud_development/blob/master/documentation/rails/110-credentials.md">following instructions</a>.</p>

<p>If you create a database with docker-compose you need to set the same credentials in the credentials file for rails.</p>

<h2>Git</h2>

<p>Git is a version control system that is used to track changes in files. It is used to manage the codebase of Lesli.</p>

<p>Lesli have some standards to follow when using git. You can find more information about git in <a href="https://github.com/leitfaden/cloud_development/tree/master/documentation/git">this link</a>.</p>

<h2>Github</h2>

<p>Github is a web-based Git repository hosting service that is used to store the codebase of Lesli. For download the codebase you need to clone the repository with ssh or with https. If you want to use ssh you need to <br>
create a ssh keys.</p>

<p>For configure bundle and download the gems from github packages you need to create a personal token with read-only access. You can find more information about it, in this <a href="https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line">link</a>.</p>

<p>Then you can set the personal token with the next command:</p>
<pre class="shell"><code>bundle config https://rubygems.pkg.github.com/LesliTech YOUR_TOKEN
</code></pre>
<h3>Install gems</h3>

<p>For install gems you can use the following command:</p>
<pre class="shell"><code>bundle <span style="color: #953800">install</span>
</code></pre>
<h2>Install engines</h2>

<p>To install engines you need to clone the repository that you want inside the engines folder. The only engine needed to run Lesli at the first time is LesliBuilder.</p>

<h2>Run Lesli</h2>

<p>After you have all the necessary files, engines, gems, credentials and <br>
configurations you can run Lesli with the following command:</p>
<pre class="shell"><code><span style="color: #6e7781"># Prepare the database</span>
rake dev:db:reset

<span style="color: #6e7781"># Run Lesli</span>
rails s

<span style="color: #6e7781"># Run webpack to build the JavaScript apps</span>
npm run webpack
</code></pre>
<p>If you create a database with docker-compose you need to run the following command before runing rails s or rails db:migrate to start the database</p>
<pre class="shell"><code><span style="color: #953800">sudo </span>docker-compose up <span style="color: #116329">-d</span>
</code></pre>
                        </div>
                        <div class="lesli-documentation-footer">
                            <div class="level">
                                <div class="level-left">
                                    <p><a href="https://github.com/LesliTech/lesli.dev/blob/master/docs/team/setup.md" target="_blank">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9l-3.794-3.793-5.999 6-1.414-1.414 5.999-6L12 3h9z"/></svg>
                                            </span>
                                            <span>
                                                Edit this page on GitHub
                                            </span>
                                        </span>
                                    </a></p>
                                </div>
                                <div class="level-right">
                                    <p><b>Last Update: </b>2023/05/20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%= partial("partials/footer") %>
                </div>
            </div>
        </section>
    