
<% has_logo = logo %>
<script>
    function openAside() {
        const el = document.getElementById("lesli-partial-aside")
        el.classList.add("open");
    }
</script>
<nav class="lesli-partial-navigation container">
    <% if has_logo %>
        <ul>
            <li class="lesli-partial-navigation-logo">
                <a href="/">
                    <%= image_tag "brand/lesli.svg", alt: "Lesli logo" %>
                </a>
            </li>
        </ul>
    <% end %>
    <ul>
        <li>
            <a href="/lesli/">Lesli</a>
        </li>
        <li>
            <a href="/gems/">Gems</a>
        </li>
        <li>
            <a href="/engines/">Engines</a>
        </li>
        <li class="lesli-partial-aside-open">
            <a onclick="openAside()" href="#">
                <span class="ri-menu-3-line"></span>
            </a>
        </li>
    </ul>
</nav>
