<section class="lesli-partial-links">
    <a href="/engines/lesli/about/">About</a>
    <span>·</span>
    <a href="/lesli/">Documentation</a>
    <span>·</span>
    <a href="/start/">Get started</a>
</section>
