
<%
section = current_page.path.split("/").first
project = current_page.path.split("/").second
%>

<aside id="lesli-partial-aside" class="lesli-partial-aside">
    <figure class="lesli-partial-aside-logo">
        <a href="/">
            <%= image_tag("brand/lesli.svg", alt: "Lesli logo") %>
        </a>
    </figure>
    <nav>
        <%= partial("#{section}/#{project}/navigation") %>
    </nav>
</aside>
