<%
    path_parts = current_page.path.split("/")
    section = path_parts[0]
    project = path_parts[1]
%>

<aside id="lesli-partial-aside" class="lesli-partial-aside">
    <figure class="lesli-partial-aside-logo">
        <a href="/">
            <%= image_tag("brand/lesli.svg", alt: "Lesli logo") %>
        </a>
    </figure>
    <nav>
        <% if section && project %>
            <% partial_path = File.join(root, "source", section, project, "_navigation.erb") %>
            <% if File.exist?(partial_path) %>
                <%= partial("#{section}/#{project}/navigation") %>
            <% end %>
        <% end %>
    </nav>
</aside>
