---
title: Lesli · Your smart business assistant
---
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <%= image_tag "brand/leslicloud-logo.svg", alt: "Lesli logo" %>
            <p>Your smart business assistant</p>
            <a href="mailto:hello@lesli.tech">hello@lesli.tech</a>
        </div>
    </div>
</section>
