<%#

Copyright (c) 2022, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>

<% lesli = data.send(I18n.locale.to_sym).lesli %>

<header class="lesli-header">
    <%= partial "partials/navigation" %>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="case">
                    <h2>Code as a Service</h2>
                </div>
            </div>

            <div class="column">
                <div class="case">
                    <h2>API as a Service</h2>
                </div>
            </div>

            <div class="column">
                <div class="case">
                    <h2>Platform as a Service</h2>
                </div>
            </div>

            <div class="column">
                <div class="case">
                    <h2>Software as a Service</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <h2>Use cases</h2> 
        <ul>
            <li>Create minimum viable products quickly</li>
            <li>Modern websites: Use Lesli as headless cms</li>
            <li>Internal applications: Use lesli as backend for internal software</li>
            <li>Backend for apps: Use lesli as api for database and connect mobile apps </li>
        </ul>
    </div>
</section>
