<ul>
<li><a href="#">about</a></li>
<li><a href="/documentation/about/lesli">lesli</a></li>
</ul>
<ul>
<li><a href="#">team</a></li>
<li><a href="/documentation/team/setup">setup</a></li>
</ul>
<ul>
<li><a href="#">design</a></li>
<li><a href="/documentation/design/01-standards"> standards</a></li>
<li><a href="/documentation/design/02-theme"> theme</a></li>
<li><a href="/documentation/design/10-layout"> layout</a></li>
</ul>
