<ul>
<li>getting started</li>
<li><a href="/documentation/getting-started/about">about</a></li>
<li><a href="/documentation/getting-started/ecosystem">ecosystem</a></li>
<li><a href="/documentation/getting-started/environment">environment</a></li>
<li><a href="/documentation/getting-started/installation">installation</a></li>
</ul>
<ul>
<li>git</li>
<li><a href="/documentation/git/001-management"> management</a></li>
<li><a href="/documentation/git/002-software-release"> software release</a></li>
<li><a href="/documentation/git/110-pull-requests"> pull requests</a></li>
</ul>
