<nav>
<ul>
<li>getting started</li>
<li><a href="/documentation/getting-started/about">about</a></li>
<li><a href="/documentation/getting-started/ecosystem">ecosystem</a></li>
<li><a href="/documentation/getting-started/installation">installation</a></li>
</ul>
<ul>
<li>contributing</li>
<li><a href="/documentation/contributing/001-environment"> environment</a></li>
<li><a href="/documentation/contributing/010-git-flow"> git flow</a></li>
<li><a href="/documentation/contributing/020-commits"> commits</a></li>
<li><a href="/documentation/contributing/030-pull-requests"> pull requests</a></li>
</ul>
<ul>
<li>database</li>
<li><a href="/documentation/database/schema">schema</a></li>
<li><a href="/documentation/database/versioning">versioning</a></li>
</ul>
<ul>
<li>ruby on rails</li>
<li><a href="/documentation/ruby-on-rails/110-lesli-file"> lesli file</a></li>
<li><a href="/documentation/ruby-on-rails/120-credentials"> credentials</a></li>
<li><a href="/documentation/ruby-on-rails/130-router"> router</a></li>
</ul>
</nav>
