<nav class="navigation-header navbar is-hidden-desktop" role="navigation" aria-label="main navigation">

                <div class="navbar-brand">
                    <a class="navbar-item" href="https://bulma.io">
                        <%= inline_svg("brand/lesli-name.svg") %>
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
            
<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-end">
<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">getting started</a>
<div class="navbar-dropdown">
<a class="navbar-item" href="/documentation/getting-started/about">about</a>
<a class="navbar-item" href="/documentation/getting-started/ecosystem">ecosystem</a>
<a class="navbar-item" href="/documentation/getting-started/installation">installation</a>
</div>
</div>
</div>
<div class="navbar-end">
<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">contributing</a>
<div class="navbar-dropdown">
<a class="navbar-item" href="/documentation/contributing/001-environment"> environment</a>
<a class="navbar-item" href="/documentation/contributing/010-git-flow"> git flow</a>
<a class="navbar-item" href="/documentation/contributing/020-commits"> commits</a>
<a class="navbar-item" href="/documentation/contributing/030-pull-requests"> pull requests</a>
</div>
</div>
</div>
<div class="navbar-end">
<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">database</a>
<div class="navbar-dropdown">
<a class="navbar-item" href="/documentation/database/schema">schema</a>
<a class="navbar-item" href="/documentation/database/versioning">versioning</a>
</div>
</div>
</div>
<div class="navbar-end">
<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">ruby on rails</a>
<div class="navbar-dropdown">
<a class="navbar-item" href="/documentation/ruby-on-rails/110-lesli-file"> lesli file</a>
<a class="navbar-item" href="/documentation/ruby-on-rails/120-credentials"> credentials</a>
<a class="navbar-item" href="/documentation/ruby-on-rails/130-router"> router</a>
</div>
</div>
</div>
</div>
</nav>
