<ul>
<li>getting started</li>
<li><a href="/documentation/getting-started/about">about</a></li>
<li><a href="/documentation/getting-started/ecosystem">ecosystem</a></li>
<li><a href="/documentation/getting-started/environment">environment</a></li>
<li><a href="/documentation/getting-started/installation">installation</a></li>
</ul>
