
        <section>
            <div class="columns mt-0">
                <div class="navigation column is-3">
                    <figure>
                        <%= inline_svg("brand/lesli-name.svg") %>
                    </figure>
                    <%= partial("documentation/navigation") %>
                </div>
                <div class="documentation column">
                    <%= partial("partials/navigation") %>
                    <div class="lesli-documentation section pb-0">
                        <div class="container">
                            <h1>Theme</h1>

<p>Lesli support native color customization through lesli.yml file.</p>

<h2>Color customization</h2>

<p>To customize the Lesli colors, you can use the &quot;theme&quot; section in lesli.yml file:</p>
<pre class="yaml"><code><span style="color: #116329">color_primary</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">primary color</span><span style="color: #24292f;background-color: #f6f8fa">,</span> <span style="color: #0550ae">this will also change bulma primary color</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
<span style="color: #116329">color_header</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">header color background</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
<span style="color: #116329">color_footer</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">footer color background</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
<span style="color: #116329">color_sidebar</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">left sidebar color background</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
<span style="color: #116329">color_sidebar_hover</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">left sidebar color background on hover</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
<span style="color: #116329">color_background</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">body background color</span><span style="color: #24292f;background-color: #f6f8fa">]</span>

</code></pre>
<p><br></p>

<p>This is going to modify the corresponding SASS variables in the Lesli core:</p>
<pre class="textplain"><code>color_primary -&gt; $lesli-color-primary &amp; $primary (bulma)
color_header -&gt; $lesli-header-color
color_footer -&gt; $lesli-footer-color
color_sidebar -&gt; $lesli-sidebar-color
color_sidebar_hover -&gt; $lesli-sidebar-hover
color_background -&gt; $lesli-color-background
</code></pre>
<h2>Custom variables (Dedicated Lesli instances only or Builder engines)</h2>

<p>To customize the Lesli color palette you must create a variables.scss file in: builder_engine/app/assets/stylesheets/lesli/variables.scss, in this file you can override all the core SASS variables and even create a new ones:</p>

<p><strong>Examples:</strong></p>
<pre class="scss"><code><span style="color: #0550ae">$lesli-color-primary</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #953800">blue</span><span style="color: #24292f;background-color: #f6f8fa">;</span>
<span style="color: #0550ae">$lesli-color-background</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #953800">white</span><span style="color: #24292f;background-color: #f6f8fa">;</span>

<span style="color: #0550ae">$lesli-header-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #953800">white</span><span style="color: #24292f;background-color: #f6f8fa">;</span>
<span style="color: #0550ae">$lesli-header-height</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0550ae">100px</span><span style="color: #24292f;background-color: #f6f8fa">;</span>

<span style="color: #0550ae">$lesli-footer-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #953800">white</span><span style="color: #24292f;background-color: #f6f8fa">;</span>
<span style="color: #0550ae">$lesli-footer-height</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0550ae">84px</span><span style="color: #24292f;background-color: #f6f8fa">;</span>

<span style="color: #0550ae">$lesli-sidebar-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #953800">white</span><span style="color: #24292f;background-color: #f6f8fa">;</span>
<span style="color: #0550ae">$lesli-sidebar-width</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0550ae">50px</span><span style="color: #24292f;background-color: #f6f8fa">;</span>

<span style="color: #0550ae">$lesli-font-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #953800">black</span><span style="color: #24292f;background-color: #f6f8fa">;</span>
<span style="color: #0550ae">$lesli-font-size</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0550ae">16px</span><span style="color: #24292f;background-color: #f6f8fa">;</span>
</code></pre>
<h2>Bulma customization</h2>

<p>You can customize bulma changing the value of the variables, see: <a href="https://bulma.io/documentation/customize/variables/">https://bulma.io/documentation/customize/variables/</a></p>

                        </div>
                        <div class="lesli-documentation-footer">
                            <div class="level">
                                <div class="level-left">
                                    <p><a href="https://github.com/LesliTech/lesli.dev/blob/master/docs/design/02-theme.md" target="_blank">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9l-3.794-3.793-5.999 6-1.414-1.414 5.999-6L12 3h9z"/></svg>
                                            </span>
                                            <span>
                                                Edit this page on GitHub
                                            </span>
                                        </span>
                                    </a></p>
                                </div>
                                <div class="level-right">
                                    <p><b>Last Update: </b>2023/05/20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%= partial("partials/footer") %>
                </div>
            </div>
        </section>
    