
        <section>
            <div class="columns mt-0">
                <div class="navigation column is-3">
                    <figure>
                        <%= inline_svg("brand/lesli-name.svg") %>
                    </figure>
                    <%= partial("documentation/navigation") %>
                </div>
                <div class="documentation column">
                    <%= partial("partials/navigation") %>
                    <div class="lesli-documentation section pb-0">
                        <div class="container">
                            <pre class="html"><code><span style="color: #116329">&lt;section</span> <span style="color: #116329">class=</span><span style="color: #0a3069">"application-component"</span><span style="color: #116329">&gt;</span>
    <span style="color: #116329">&lt;lesli-header</span> <span style="color: #116329">title=</span><span style="color: #0a3069">"My resources"</span><span style="color: #116329">&gt;&lt;/lesli-header&gt;</span>
<span style="color: #116329">&lt;/section&gt;</span>
</code></pre>
                        </div>
                        <div class="lesli-documentation-footer">
                            <div class="level">
                                <div class="level-left">
                                    <p><a href="https://github.com/LesliTech/lesli.dev/blob/master/docs/design/10-layout.md" target="_blank">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9l-3.794-3.793-5.999 6-1.414-1.414 5.999-6L12 3h9z"/></svg>
                                            </span>
                                            <span>
                                                Edit this page on GitHub
                                            </span>
                                        </span>
                                    </a></p>
                                </div>
                                <div class="level-right">
                                    <p><b>Last Update: </b>2023/05/20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%= partial("partials/footer") %>
                </div>
            </div>
        </section>
    