---
title: Page not found
layout: website
---
<%= partial("partials/lesli-navigation", :locals => { :logo => true }) %>
<section class="lesli-404">
    <img alt="404 cat" src="/images/cats/404.png" />
    <h3>404</h3>
    <p>PAGE NOT FOUND</p>
    <a href="/">Take me home</a>
</section>
