---
title: Lesli · Your smart business assistant
---

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1>404</h1>
            <h2>Page not found</h2>
            <%= image_tag "404/cat.png", :alt => "Page not found" %>
            <%= link_to "Back to home", "/" %>            
        </div>
    </div>
</section>
