---
title: "The Lesli Notes" 
description: "The Lesli developer blog: tutorials, release notes, architecture, and framework updates." 
---
<style>
main section.lesli-documentation {
    header {
        h1 {
            margin-bottom:0;
        }
        p {
            font-size: 1.25rem;
        }
    }
    .notes-container ul {
        a {
            font-size: 1.15rem;
            text-decoration: none;
            h3 {
                margin-bottom: 0;
            }
        }
        li {
            list-style: none;
        }
    }
}
</style>
<header>
    <h1>Lesli Notes</h1>
    <p><%= current_page.data.description %></p>
</header>
<section class="notes-container">
    <ul>
        <% 
            sitemap
            .resources.select { |p| p.path.start_with?("notes/") }
            #.sort_by { |note| note.data.date } 
            .reverse # newest first
            .each do |note| %>
            <% next if note.ext != ".html" %>
            <% next if note.url.start_with?("/index") %>
            <li>
                <a href="<%= note.url %>">
                    <h3><%= note.data.title %></h3>
                    <%= note.data.description %>
                </a>
            </li>
        <% end %>
    </ul>
</section>
